.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.title-left {
  margin-left: 6vw;
  margin-right: 5vw;
}

.paragraph {
  margin-left: 6vw;
  margin-right: 5vw;
  font-size: 16px;
}

.menuitem {
  font-size: 18px;
}

.subitem {
  font-size: 14px;
}

.card {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 10px;
}
